* {
	padding: 0;
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
	background: #74ebd5;
	background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
	background: linear-gradient(to right, #acb6e5, #74ebd5);
}
.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.heading {
	padding: 10px;
	margin: 10px;
}

.formWaala {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.formWaala input {
	padding: 8px;
	border-radius: 6px;
	font-size: large;
}

button {
	padding: 9px;
	background-color: #800080;
	color: white;
	border-radius: 6px;
	border: 2px solid white;
	margin: 0px 15px;
}

button:hover {
	border: 2px solid black;
	color: #800080;
	background-color: white;
	cursor: pointer;
}

.bottom {
	min-height: calc(100vh - 158.6px - 40px - 41.6px);
	display: grid;
	align-content: center;
	justify-content: center;
	padding: 20px 0px;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-gap: 2rem 3rem;
}

.bottom img {
	width: 15rem;
	height: 15rem;
	border-radius: 7px;
}

.bottom p {
	font-size: 1.2rem;
}

.box {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

.heading {
	font-size: 1.5em;
}

.foot {
	background-color: #001f3f;
	text-align: center;
	padding: 10px 0px;
	color: white;
	width: 100%;
}

span {
	color: red;
}
@media only screen and (max-width: 400px) {
	* {
		overflow-x: hidden;
	}
	form {
		display: flex;
		align-items: center;
		padding: 10px;
		flex-direction: column;
	}
	button {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 550px) {
	.heading {
		font-size: 1em;
	}
}
